* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 4px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
}

#dropzone {
    height: 100vh;
    background-color: green;
}